@model IEnumerable<Examen.ApplicationCore.Domain.NaturalFlower>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.origine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.savage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bouquet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.origine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.savage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bouquet.BouquetType)
            </td>
            <td>
                    @Html.ActionLink(linkText: "details bouquet", actionName: "Details", controllerName: "Bouquet", routeValues: new { id = item.BouqFK }, htmlAttributes: null) ||
            </td>
        </tr>
}
    </tbody>
</table>
