@model Examen.ApplicationCore.Domain.Bouquet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bouquet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccompagingMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccompagingMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BouquetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BouquetType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CIN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BouquetCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
